@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body, :root{
  color-scheme: light;
  background-color: #f8f8f8;
  font-family: var(--font-dm_sans);
}

 
h1{
  font-size: 48px;
}
h2{
color: #000;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
p{
  color: var(--gray-900, #111827);
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}